# -------------------------
# Data (default: ignore)
# -------------------------
data/raw/*
data/interim/*

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep

# Keep GTFS static data (commit these)
!data/raw/gtfs_static/
!data/raw/gtfs_static/**

#Ignore GTFS real-time data (do NOT commit)
data/raw/gtfs_rt/
data/raw/gtfs_rt/**
*.pb

# Optional: ignore processed if large
# data/processed/*

# -------------------------
# Secrets
# -------------------------
.env
*.key

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
